<h1 class="title orange-color"><%= t('Dish.edit') + "(#{ @dish.group.restaurant.name })" %></h1>
<%= form_for(@dish, :url => admin_dish_path(@dish), method: :put) do |f| %>
  <%= input_helper(f, :name, :text_field) %>
  <%= input_helper(f, :price, :text_field) %>
  <%= radio_helper(f, 
                   :statu,
                   t('Dish.statu'),
                   :true => t('Dish.normal'),
                   :false => t('Dish.unnormal')) %>
  <%= radio_helper(f,
                   :group_id,
                   t('group'),
                   name_and_id_to_hash(@dish.group.restaurant.groups)) %>

  <%= f.submit t('commit'), :class => "link-button" %>
  <%= link_to t('back'), admin_restaurant_path(@dish.group.restaurant), :class => "link-button smaller-size" %>
<% end %>